@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #191a1a;
  --color-line: #2b2c2d;
  --color-accent: #21b8cd;
  --color-accent-hover: #2397a8;
  --color-primary: #e8e8e6;
  /* Used for main titles */
  --color-secondary: #8c9191;
  /* Used for descriptions or subtitles */
  --color-secondary-hover: #484a4a;
  /* Hover effect for secondary elements (e.g., underlines) */
  --color-block-bg: #202222;
  /* Background color for block components */
  --color-block-border: #3d3f40;
  /* Border color for block components */
  --color-block-hover: #1f2020;
  /* Hover effect for block components */
  --color-inblock-border: #2f3031;
  /* Border color for in-block components */
}

body {
  color: var(--color-primary);
  background: var(--background);
}

.shiki,
.shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.prose a:not(.anchor) {
  @apply text-primary underline decoration-primary hover:text-accent hover:decoration-accent transition-all duration-200;
}

.prose a.anchor {
  @apply relative no-underline;
}

.prose a.anchor::before {
  @apply absolute -left-4 opacity-0 transition-opacity duration-200 content-['#'];
}

.prose a.anchor:hover::before {
  @apply opacity-100;
}

.prose pre {
  @apply overflow-x-auto border border-inblockBorder bg-[#111] my-4 rounded-none;
}

.prose code:not(pre code) {
  @apply px-1 py-0.5 text-sm border border-blockBorder rounded text-primary;
}

.prose code:not(pre code)::before,
.prose code:not(pre code)::after {
  content: none;
}

.prose pre code {
  @apply p-4 block bg-transparent;
  border: initial;
  line-height: 1.6;
}

.prose code span {
  @apply font-medium text-primary;
}